---
export interface Props {
  pagesUrl: string[];
  volume: number;
  prevChapter: number | null;
  nextChapter: number | null;
}

const { pagesUrl, volume, prevChapter, nextChapter } = Astro.props;
---

<!-- TODO: use data attributes to pass volume and chapter info to the script -->
<div
  class="min-h-screen bg-white flex flex-col items-center pt-20 md:pt-24"
  id="pageContainer"
  data-volume={volume}
  data-prev-chapter={prevChapter}
  data-next-chapter={nextChapter}
>
  <div class="w-full max-w-350 flex flex-col items-center">
    {
      pagesUrl.map((pageUrl, index) => (
        <img
          src={pageUrl}
          alt={`Page ${index + 1}`}
          class="h-auto max-h-screen block mb-0.5 object-contain border border-gray-900"
          loading={index < 3 ? "eager" : "lazy"}
          data-page={index}
        />
      ))
    }
  </div>
</div>

<script>
  import {
    currentPage,
    isProgrammaticScroll,
    percentageRead,
  } from "../feature/reader/store";

  const pages = document.querySelectorAll(
    "img[data-page]",
  ) as NodeListOf<HTMLElement>;

  // Called when currentPage is changed through keyboard navigation
  currentPage.subscribe((value) => {
    if (!isProgrammaticScroll.get()) return;

    window.scrollTo({
      top: pages[value].offsetTop,
      behavior: "smooth",
    });

    isProgrammaticScroll.set(false);
    currentPage.set(value);
  });

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const pageIndex = Number((entry.target as HTMLElement).dataset.page);
          currentPage.set(pageIndex);
          percentageRead.set((pageIndex / (pages.length - 1)) * 100);
        }
      });
    },
    { threshold: 0.6 },
  );
  pages.forEach((page) => observer.observe(page));
</script>
